* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 25px;
  text-align: center;
}
.calc {
  padding: 20px;
  background-color: #ccc;
}
.calc-input {
  width: 100%;
  height: 50px;
  margin-bottom: 30px;
  padding: 10px;
  font-size: 24px;
}
.calc-count {
  width: 50%;
  margin-top: 30px;
  padding: 15px 80px;
  font-size: 26px;
  border: 0;
  cursor: pointer;
}
.calc-table {
  display: grid;
  grid-template-columns: repeat(4, 3fr);
  grid-template-rows: repeat(5, 70px);
}
.calc-item {
  padding: 20px;
  font-size: 22px;
  font-weight: 500;
  border: 1px solid #000;
  cursor: pointer;
}
.calc-item--sign {
  background-color: orange;
}
.calc-item--zero {
  grid-column: 1 / 3;
}
.calc-item--clean {
  grid-column: 1 / 4;
  background-color: red;
}
.calc-item--equal {
  background-color: red;
}
